<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

    <link href="{{ app.request.basepath }}/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/bootstrap/css/style.css">

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="{{ app.request.basepath }}/assets/bootstrap/js/bootstrap.min.js"></script>

    {% block head %}
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div class="container">

    {#nav#}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navligation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">visual .pix</a>
            </div>
            <div class="navbar-collapse colapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url('index') }}">home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">pictures<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">{{ 'categories'|trans }}</li>
                            {#<li><a href="{{ url('image_photography') }}"> {{ 'photography'|trans }} </a></li>#}
                            {#<li><a href="{{ url('image_design') }}"> {{ 'design'|trans }} </a></li>#}
                            {#<li><a href="{{ url('image_quotes') }}"> {{ 'quotes'|trans }} </a></li>#}
                            {#<li><a href="{{ url('image_fine_art') }}"> {{ 'fine art'|trans }} </a></li>#}
                            {#<li><a href="{{ url('image_street_art') }}"> {{ 'street art'|trans }} </a></li>  #}
                            {##}
                            <li><a href="{{ url('image_photography') }}"> {{ 'photography'|trans }} </a></li>
                            <li><a href=""> {{ 'design'|trans }} </a></li>
                            <li><a href=""> {{ 'quotes'|trans }} </a></li>
                            <li><a href=""> {{ 'fine art'|trans }} </a></li>
                            <li><a href=""> {{ 'street art'|trans }} </a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">top</li>
                            {#<li><a href="{{ url('images_fresh') }}"> {{ 'fresh'|trans }}fresh </a></li>#}
                            {#<li><a href="{{ url('images_high_score') }}"> {{ 'high score'|trans }} </a></li>#}
                            {#<li><a href="{{ url('images_popular') }}"> {{ 'most popular'|trans }} </a></li>#}

                            <li><a href=""> {{ 'fresh'|trans }}fresh </a></li>
                            <li><a href=""> {{ 'high score'|trans }} </a></li>
                            <li><a href=""> {{ 'most popular'|trans }} </a></li>
                        </ul>
                    </li>

                    {% if is_granted('ROLE_USER') %}
                    <li class="dropdown">
                        {#<a href="{{ url('users') }}" class="dropdown-toggle" data-toggle="dropdown">login.user?<b class="caret"></b></a>#}
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">{{ app.security.token.user.username }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">{{ 'pictures'|trans }}</li>
                            <li><a href="{{ url('image_add') }}">{{ 'add'|trans }}</a></li>
                            {#<li><a href="{{ url('user_images') }}"> {{ 'yours'|trans }} </a></li>#}
                            <li><a href=""> {{ 'your pix'|trans }} </a></li>
                            <li class="divider"></li>
                            <li><a href="#"> jakiś help </a></li>
                            <li><a href="{{ url('auth_logout') }}">{{ 'logout'|trans }}</a></li>
                        </ul>
                    </li>

                    {% elseif is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ url('users_list') }}">{{ 'users'|trans }}</a></li>
                        <li><a href="{{ url('auth_logout') }}">{{ 'logout'|trans }}</a></li>

                    {% else %}
                        <li><a href="{{ url('registration') }}">{{ 'join us'|trans }}</a></li>
                        <li><a href="{{ url('auth_login') }}">{{ 'login'|trans }}</a></li>
                    {% endif%}

                    <li><a href="#">about</a>
                        {#???#}
                    <li><a href="#" data-toggle="modal">contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    {#end nav#}



        <div class="row">COŚ TAM</div>

        <div class="row">
            <div id="content" class="col-md-12">{% block content %}{% endblock %}</div>
        </div>

    {#<div class="nav navbar-inverse navbar-fixed-bottom" role="navigation">#}
        {#<footer class="navbar-text pull-right">#}
            {#<p> &copy; 2015 </p>#}
        {#</footer>#}
    {#</div>#}

</div>
</body>
</html>